.news-theme {
  width: 712px;
}

@media (max-width: 1200px) {
  .news-theme {
    width: 450px;
  }
}

@media (max-width: 800px) {
  .news-theme {
    width: 350px;
    // margin-right: 12px;
  }
}

// @media (max-width: 660px) {
//   .news-theme {
//     width: 335px;
//     margin-right: 0;
//   }
// }
