.news-theme {
  width: 712px;
}

@media (max-width: 1200px) {
  .news-theme {
    width: 450px;
    // background-color: red;
  }
}

@media (max-width: 800px) {
  .news-theme {
    width: 250px;
    margin-right: 12px;
    // background-color: red;
  }
}
