h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: black;
}

p,
span {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

/* .App {
  
  margin-left: 24px;
  margin-top: 36px;
} */

.light {
  /* background-color: white; */
  color: #919eab;
  transition: 500ms linear;
}

.black {
  background-color: #161c24;
  // color: #919eab;
  transition: 500ms linear;
  /* color: white; */
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: white;
  }

  .timeLine-theme,
  .news-theme,
  .task-theme,
  .traffic-theme {
    background-color: #212b36;
    transition: 500ms linear;
  }
}

.test {
  white-space: nowrap;
  // margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  // max-height: 48px;
  // max-width: 750px;
}
